---
layout: default
---
<section class="home">
	<div class="home-slider home-slider-full-page">
		<div class="swiper-wrapper">
			<div class="swiper-slide home-slider-centered" style="background-image:url(assets/img/slider/spinner1.jpg)">
				<h1 class="light wow fadeInDown"><span class="theme-color">#</span>HANDSPINNERS</h1>
				<a href="#carousel" class="btn btn-primary wow fadeInUp">browse <span class="ti-arrow-right light"></span></a>
			</div>
			<div class="swiper-slide home-slider-centered" style="background-image:url(assets/img/slider/spinner2.jpg)">
				<h1 class="light wow fadeInDown"><span class="theme-color">#</span>FIDGETSPINNERS</h1>
				<a href="#carousel" class="btn btn-primary wow fadeInUp">browse <span class="ti-arrow-right light"></span></a>
			</div>
		</div>
		<!-- Add Pagination -->
		<div class="home-slider-pagination"></div>
		<span class="ti-angle-left home-slider-prev"></span>
		<span class="ti-angle-right home-slider-next"></span>
	</div>
</section>
<div class="container">
	<div class="row">
		<!-- PRDODUCT CAROUSEL -->
		<div id="carousel" class="col-md-12 box">
			<h5 class="heading mr-0 mb-30"><span>//</span> SPINNERS CAROUSEL
				<span class="carousel-controls pull-right">
					<span class="ti-angle-left swiper-button-prev2"></span>
					<span class="ti-angle-right swiper-button-next2"></span>
				</span>
			</h5>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for spinner in site.spinners %}
						{% include spinner-slide.html %}
					{% endfor %}
				</div>
				<!-- PAGINATION -->
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>