<footer class="light-bg ">
  <div class="footer pt-60 pb-60" id="footer">
    <div class="container">
      <div class="row">
        <div class="smartphone-fw col-xs-6 col-sm-3 col-md-2">
          <h6 class="heading mt-0"><span>//</span> CONTACT</h6>
          <a href="mailto:info@spishop.ch">info@spishop.ch</a>
        </div>
        <div class="smartphone-fw col-xs-6 col-sm-3 col-md-2">
          <h6 class="heading mt-0"><span>//</span> MODES DE PAIEMENT</h6>
          <img src="/assets/img/visa-mastercard.png" class="img-responsive visa-mastercard">
        </div>

        <div class="smartphone-fw col-xs-6 col-sm-3 col-md-3">
          <h6 class="heading mt-0"><span>//</span> TOP SPINNERS</h6>
          <ul>
            {% for spinner in site.spinners %}
              <li> <a href="{{site.url}}{{spinner.url}}">{{spinner.name}}</a> </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <h6 class="heading mt-0"><span>//</span> INFOS</h6>
          <ul>
            <li>Shop basé à Lausanne en Suisse</li>
            <li>Hand spinners</li>
            <li>Fidget spinners</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © Spishop 2017 tous droits réservés</p>
    </div>
  </div>
</footer>