<footer class="light-bg ">
  <div class="footer pt-60 pb-60" id="footer">
    <div class="container">
      <div class="row">
        <div class="smartphone-fw col-xs-6 col-sm-3 col-md-2">
          <h6 class="heading mt-0"><span>//</span> CONTACT</h6>
          <a href="#">info@spishop.ch</a>
        </div>
        <div class="smartphone-fw col-xs-6 col-sm-3 col-md-2">
          <h6 class="heading mt-0"><span>//</span> MODES DE PAIEMENT</h6>
          <img src="/assets/img/visa-mastercard.png" class="img-responsive visa-mastercard">
        </div>

        <div class="smartphone-fw col-xs-6 col-sm-3 col-md-3">
          <h6 class="heading mt-0"><span>//</span> TOP SPINNERS</h6>
          <ul>
            {% for spinner in site.spinners %}
              <li> <a href="{{site.url}}{{spinner.url}}">{{spinner.name}}</a> </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <h6 class="heading mt-0"><span>//</span> NEWSLETTER</h6>

          <form>
            <fieldset>
              <div class="form-group">
                <div class="footer-newsletter">
                  <input class="form-control" id="email" placeholder="email" type="email">
                  <button class="btn btn-link" type="button"><span class="ti-plus"></span></button>
                </div>
              </div>
            </fieldset>
          </form>

          <ul class="footer-social" data-wow-delay="0.6s">
            <li><a href="#" class="pull-left"><span class="ti-facebook"></span></a></li>
            <li><a href="#" class="pull-left"><span class="ti-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © Spishop 2017 tous droits réservés</p>
    </div>
  </div>
</footer>