<header class="header header-fixed nav-down">
  <div class="box mb-0">
    <div class="">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="header-logo-small">
              <img src="/assets/img/logo.png" alt="store logo">
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="snipcart-checkout snipcart-checkout-mobile hidden-lg"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Mon panier&nbsp;<span class="badge cart-counter"></span></a>
          </div>
          <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="header-link"><a href="/">Accueil</a></li>
              <li class="header-link"><a href="/a-propos.html">A propos</a></li>
              <li class="header-link"><a href="/conditions.html">Conditions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-lg">
              <li><a href="#" class="snipcart-checkout"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Mon panier&nbsp;<span class="badge cart-counter"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>