@import 'theme/scss/theme';
.visa-mastercard{
	max-width: 100px;
}
.about{
	padding-top:80px;
	padding-bottom:80px;
	h1{
		margin-bottom: 20px;
	}
}
@media (max-width: 768px){
	.product-box {
    margin-bottom: 0px;
  }
  .home-page .box {
    margin-bottom: 0px;
	}
}