@import 'theme/scss/theme';
.visa-mastercard{
	max-width: 100px;
}
.about{
	padding-top:80px;
	padding-bottom:80px;
	h1{
		margin-bottom: 20px;
	}
}
.header{
	z-index: 999;
}
.cart-counter{
	font-size:10px;
}
.snipcart-checkout-mobile{
	position:relative;
	float:right;
	color:#111;
}
.navbar-fixed-top{
	position:fixed !important;
	border-bottom:1px solid #e7e7e7 !important;
}
@media (max-width: 768px){
	.product-box {
    margin-bottom: 0px;
  }
  .home-page .box {
    margin-bottom: 0px;
	}
}