<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
		{% include header.html %}
		{{content}}
		{% include footer.html %}
    <script src="assets/js/wow.js"></script>
    <script>
    window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="/assets/js/swiper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.countTo.js"></script>
    <script src="/assets/js/jquery.inview.js"></script>
    <script src="/assets/js/jquery.countdown.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>